body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  max-width: 160px;
  max-height: 160px;
}
.nav-item{
  padding: 0 0.6em 0 0.6em;
}
.nav-link{
  
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}
.space{
  margin-right: 7vmin;
}
.hero{
  height: 100vh;
}

.heading{

  font-family: Poppins;
  font-size: 14vmin;
  font-weight: 700;
  font-stretch: normal;
  text-align: left;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ff725e;
  

}
.heading1{
 
  font-family: Poppins;
  font-size: 14vmin;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ff725e;

}
.heading-title{
  height:50%;
}
.light-heading { 
  
  
  opacity: 0.1;
  font-family: Poppins;
  font-size: 27vmin;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ff725e;
  
}
.light-heading2 { 
  bottom: 81%;
  opacity: 0.1;
  font-family: Poppins;
  font-size: 18vmin;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ff725e;
 
}
.title-description{
  text-align: justify;
  max-width: 700px;
}
.title-description-mobile{
  display: none;

}
#container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.circle{

  height: 60vh;
  width: 60vw;

}

#circle {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border:1px solid red;
  border-radius: 50%;
}

#small-circle{
  margin-top: 25%;
  margin-left: 25%;
  position: absolute;
  width: 50%;
  height: 50%;
  border:1px solid red;
  background-color: #fff;
  border-radius: 50%;
}
.coders{
  height:100vh;
}

*:focus {
  outline: 0;
  outline: none;
}
.justify{
  text-align: justify;;
}
.card-heading{
  font-family: Poppins;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ff725e;
}
p::selection {
  background: #ff725e;
  color: white;
  ;
}

.card-icons{
  font-size: 20px;
 padding: 0em 0.7em 0 0.7em;;
}
.coder-content{
  margin-top: 15vmin;
  padding: 0;
}
a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.box{
  
  background: #ff725e;
  border-radius: 5px;;

}
.profile-center{
  max-height: 200px;
  max-width: 200px;
}
a::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  background: #ff725e;
  transform: scaleX(0);
  transition: transform .35s ease;
}
a:hover::after {
  transform: scaleX(1);
}
.team{
  height: auto;
}
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-5 15:14:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 1px 2px 1px #cccccc, 1px 3px 1px #cccccc, 1px 4px 1px #cccccc, 1px 5px 1px #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 1px 8px 1px #cccccc, 1px 0px 1px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 8px 0 #cccccc, 0 0px 0px rgba(0, 0, 0, 0.3);
  }
}
.spacer{
  padding-top: 12vh;
}

@media(max-width:767px){
  .team{
    max-height: 300px;

  }
  
}
@media(max-width:426px){
 .heading{
   font-size: 13vmin;
 }
  
}
@media(min-width:427px){
  .heading{
    font-size: 11vmin;
  }
   
 }
 @media(min-width:870px){
  .heading{
    font-size: 14vmin;
  }
   
 }
@media(min-width:769px){
  .team{
  max-height: auto;
   

  }
  p{
    font-size: 1.15rem;
  }

  
}

